$extraSmallRegular: 9px;
$smallRegular10: 10px;
$smallRegular11: 11px;
$smallRegular: 12px;
$mediumSmallRegular: 13px;
$mediumRegular: 14px;
$largeSmallRegular: 16px;
$largeRegular: 17px;
$largeRegular18: 18px;
$largeRegular20: 20px;
$extraLargeRegular: 24px;
$extremeLargeRegular: 30px;
$utmostLargeRegular: 36px;